---
const { id, name, price } = Astro.props;

const formattedPrice = new Intl.NumberFormat("es-CO", {
  style: "currency",
  currency: "COP",
  minimumFractionDigits: 0,
  maximumFractionDigits: 0,
}).format(price);
---

<a
  href=`/tienda/${id}`
  class="flex flex-col justify-center gap-2 items-center bg-white border-2 rounded-lg p-5 w-52 min-w-[300px]"
>
  <div class="h-40 border-b w-full">
    <img src=`/tienda/${id}.png` alt=`imagen del producto ${name}` class=" mx-auto h-full" />
  </div>

  <h2 class="product-title w-full text-left">{name}</h2>
  <h3 class="text-4xl w-full text-primary font-semibold text-left">
    {formattedPrice}
  </h3>
</a>
