---
import Layout from "@/layouts/Layout.astro";
import ProductCard from "@/components/ProductCard.astro";
import ProductDetails from "@/components/ProductDetails.astro";
import { products } from "@/consts/products";
export function getStaticPaths() {
  const paths = products.map((product) => ({
    params: { id: product.id },
  }));
  return paths;
}

const { id } = Astro.params;

const product = products.find((product) => product.id === id);
---

<Layout title="Detalles del Producto">
  <main class="flex justify-center gap-8 w-full mt-10">
    <ProductDetails product={product} />

    <aside class="flex flex-wrap max-w-[500px] gap-8">
      {
        products.map((product, index) => (
          <ProductCard
            key={index}
            id={product.id}
            name={product.name}
            price={product.price}
          />
        ))
      }
    </aside>
  </main>
</Layout>
