---
import Layout from "@/layouts/Layout.astro";
import ProductCard from "@/components/ProductCard.astro";
import ProductDetails from "@/components/ProductDetails.astro";
import { products } from "@/consts/products";
import Footer from "@/components/Footer.astro";

function shuffle(array) {
  let currentIndex = array.length, randomIndex;

  while (currentIndex != 0) {
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;

    [array[currentIndex], array[randomIndex]] = [
      array[randomIndex], array[currentIndex]
    ];
  }

  return array;
}

export function getStaticPaths() {
  const paths = products.map((product) => ({
    params: { id: product.id },
  }));
  return paths;
}

const { id } = Astro.params;

const product = products.find((product) => product.id === id);

// Mezclar aleatoriamente la lista de productos y tomar los primeros 4 elementos después de la mezcla
const shuffledProducts = shuffle(products.slice(4)); // Excluye los 4 primeros elementos
const limitedProducts = shuffledProducts.slice(0, 4);
---
<Layout title="Detalles del Producto">
  <main class="flex justify-center gap-8 w-full mt-10">
    <ProductDetails product={product} />

    <aside class="hidden md:flex flex-wrap max-w-[500px] gap-8">
      {
        limitedProducts.map((product, index) => (
          <ProductCard
            key={index}
            id={product.id}
            name={product.name}
            price={product.price}
          />
        ))
      }
    </aside>
  </main>
  <Footer />
</Layout>
