---
import Layout from "@/layouts/Layout.astro";
import ProductCard from "@/components/ProductCard.astro";
import ProductDetails from "@/components/ProductDetails.astro";
import Footer from "@/components/Footer.astro";
import { db, products } from "astro:db";

const $products = await db.select().from(products);

export async function getStaticPaths() {
  const $products = await db.select().from(products);
  const paths = $products.map((product) => ({
    params: { id: product.id },
  }));
  return paths;
}

const { id } = Astro.params;
const product = $products.find((product) => product.id === id);
export const prerender = true;
---

<Layout title="Detalles del Producto" className="pt-[64px]">
  <header class="w-full text-primary font-semibold text-3xl p-4 text-center">
    <h2><a href="/tienda">Nice Store</a></h2>
  </header>
  <main class="flex justify-center gap-8 w-full md:mt-10">
    {
      product ? (
        <ProductDetails product={product} />
      ) : (
        <p>Producto no encontrado</p>
      )
    }

    <aside
      class="hidden md:block h-[700px] overflow-y-scroll"
    >
    <h3 class="text-2xl font-bold text-gray-500 my-2" >Productos Recomendados</h3>
      <div class="h-full md:grid grid-cols-2 gap-8 px-2">
        {
          $products.map((product, index) => (
            <ProductCard
              key={index}
              id={product.id}
              name={product.name}
              price={product.price}
            />
          ))
        }
      </div>
    </aside>
  </main>
  <Footer />
</Layout>
